body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/vfPFP3W/movie-theater-film-reel-background-in-seamless-loop_xk6ivnb9__F0000.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1{
    color: white;
  }
  input{
    margin-bottom: 10px;
  }
  .btn{
      margin-left: 3px;
  }
  .card{
      margin: auto;
    width: 80%;
    border: none;
  }

  hr{
      border: 0.5px solid gray;
  }
  
  
  
  
  
  